// 地图面板样式
#map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  letter-spacing: 0.25rem;

  // 地图标题
  .map-title {
    width: 100%;
    margin: 2rem 0;
    text-align: center;
    color: white;
  }

  // 地图列表
  .map-roll-list {
    position: relative;
    width: 55rem;
    height: 30.9375rem;
    margin-bottom: 2rem;
    overflow: hidden;

    .map-list {
      position: relative;
      display: flex;
      width: 100%;
      height: 100%;

      .map-img {
        position: relative;
        width: 55rem;
        height: 30.9375rem;
        margin-right: 2rem;

        &::after {
          content: ' ';
          display: block;
          position: absolute;
          width: 0rem;
          height: 0rem;
          top: -8.5rem;
          left: -0.5rem;
          border-top: 8rem solid transparent;
          border-right: 8rem solid transparent;
          border-left: 8rem solid #12171c;
          border-bottom: 8rem solid transparent;
        }

        &::before {
          content: ' ';
          display: block;
          position: absolute;
          width: 0rem;
          height: 0rem;
          bottom: -8.5rem;
          right: -0.5rem;
          border-top: 8rem solid transparent;
          border-right: 8rem solid #12171c;
          border-left: 8rem solid transparent;
          border-bottom: 8rem solid transparent;
          z-index: 100;
        }

        img {
          position: relative;
          width: 55rem;
          height: 30.9375rem;
          box-sizing: border-box;
          border: 0.025rem solid rgb(73, 73, 73);
          background-size: cover;
        }
      }
    }
  }

  // 地图文本
  .map-text {
    height: 4rem;
    margin-bottom: 2rem;
    color: white;
  }

  // 抽取按钮
  .map-button {
    background-color: rgb(73, 125, 230);
    outline: none !important;
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 2rem;
    font-size: 1.25rem;
    color: white;
    transition: all 0.5s;
    cursor: pointer;

    &:hover {
      opacity: 0.6;
    }

    &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }
  }
}
